.container {
  width: min(100%, 1260px);
  margin: 0 auto;
  padding-inline: 30px;

  @media (max-width: 1023px) {
    padding-inline: 32px;
  }

  @media (max-width: 767px) {
    padding-inline: 30px;
  }
}